:root {
    --primaryColor: #931499;
    --secondaryColor: #f1f1f1;
}

* {
    border-radius: 0 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}


/* Navbar Styles Start */
.bg-light {
    background-color: #fff !important;
}

.active {
    font-weight: bold;
}

.search-field:focus {
    box-shadow: none;
    border-color: var(--primaryColor);
}

.nav-link {
    border-bottom-width: 0;
    transition: border-bottom-width 0.1s;
}

.nav-link:hover {
    color: var(--primaryColor) !important;
    border-bottom: 2px solid var(--primaryColor);
    border-bottom-width: medium;
    display: inline;
}

@media only screen and (max-width: 576px) {
    #btnNavSearch {
        width: 100%;
    }
}

.btn-purple {
    color: #fff;
    background-color: var(--primaryColor);
    border: var(--primaryColor);
}

.btn-purple:hover {
    background-color: #6a136e;
}
/* Navbar Styles End */


/* Carousel Styles Start */
.carousel {
    margin-top: 5.2rem;
}
/* Carousel Styles End */


/* Contents Style Start */
.content-div {
    height: 50vh;
}
/* Contents Style End */